<aside class="col-md-4">
  <section class="user_info">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h1>
  </section>
  <ul>
    <li>Location：<%= @user.location.present? ? @user.location : '（未登録）' %></li>
  </ul>
  <p><%= link_to "ツイート", @user %> | 
  <%= link_to "フォロー", followings_user_path(@user) %> | 
  <%= link_to "フォロワー", followers_user_path(@user) %></p>
</aside>